<div
  class="transition overflow-hidden flex flex-col gap-6 sm:flex-row-reverse h-full md:min-h-96 bg-white/20 shadow-sm border backdrop-blur-[2px] border-slate-200 rounded-lg">
  <div class="sm:w-2/5 w-full aspect-video sm:aspect-auto">
    <div class="relative w-full h-full overflow-hidden">
      <img
        [ngSrc]="event() | apiIMG: 'event'"
        alt="Image de l'activité {{ event().name }}"
        class="object-cover w-full h-full transition-transform duration-300 hover:scale-105"
        loading="lazy"
        fill />
    </div>
  </div>

  <div class="sm:w-3/5 w-full flex flex-col p-4 sm:p-6 gap-4 justify-between">
    <h3 class="font-semibold text-xl sm:text-2xl text-gray-800 flex items-center gap-2 hyphens-none">
      <i-lucide [name]="icons.tag" class="size-4" />
      {{ event().name }}
    </h3>

    <quill-view class="text-gray-600 text-sm sm:text-base hyphens-none text-justify" [content]="event().description" />

    <div class="flex justify-between max-sm:flex-col gap-4 text-sm sm:text-base">
      <div class="flex items-center gap-2 text-gray-700">
        <i-lucide [name]="icons.calendar" class="size-4 sm:size-5" />
        <span>
          <strong>Début :</strong>
          {{ event().started_at | date: 'dd/MM/yyyy' }}
        </span>
      </div>
      <div class="flex items-center gap-2 text-gray-700">
        <i-lucide [name]="icons.endedAt" class="size-4 sm:size-5" />
        <span>
          <strong>Fin :</strong>
          {{ event().ended_at | date: 'dd/MM/yyyy' }}
        </span>
      </div>
    </div>

    <div class="flex flex-wrap gap-3 items-center justify-between text-sm sm:text-base">
      <div class="font-medium">
        @switch (getStatut(event())) { @case ('En cours') {
        <ui-tag variant="primary">En cours</ui-tag>
        } @case ('À venir') {
        <ui-tag variant="info">À venir</ui-tag>
        } @default {
        <ui-tag variant="warning">{{ getStatut(event()) }}</ui-tag>
        } }
      </div>

      <div class="flex items-center justify-between gap-2 text-gray-700">
        <i-lucide [name]="icons.place" class="size-4 sm:size-5" />
        <div>
          @if (event().place) {
          <span><strong>Lieu :</strong> {{ event().place }}</span>
          } @else {
          <span class="text-primary-500 bg-primary-500/10 rounded-lg py-1 px-2">En ligne</span>
          }
        </div>
      </div>
    </div>
    @if (canApply(event())) {
    <a [routerLink]="['/events', event().slug]">
      <ui-button variant="secondary" size="sm">
        <p class="flex items-center gap-2 group px-4">
          Postuler
          <i-lucide class="size-4 group-hover:translate-x-0.5 transition-transform duration-300" [name]="icons.arrow" />
        </p>
      </ui-button>
    </a>
    } @else {
    <ui-button size="sm" variant="danger" [disabled]="true">
      <p class="flex items-center gap-2 group px-4">
        Postuler
        <i-lucide class="size-4 group-hover:translate-x-0.5 transition-transform duration-300" [name]="icons.arrow" />
      </p>
    </ui-button>
    }
  </div>
</div>
