<body class="flex flex-col min-h-screen">
  <main class="flex-1 flex flex-col">
    <section
      class="flex flex-col lg:flex-row flex-1 gap-8 lg:gap-10 px-8 py-40 md:px-10 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto w-full bg-grid">
      @if (store.isLoading()) { @for (i of [1]; track i) {
      <div class="transition-all duration-300">
        <app-subprogram-card-skeleton />
      </div>
      } } @if (store.program(); as program) {
      <div class="w-full lg:w-1/3 lg:sticky top-28 lg:self-start space-y-8 lg:space-y-10 mb-10 lg:mb-0">
        <div class="space-y-6">
          <div class="flex flex-col gap-6 rounded-lg bg-white/60 backdrop-blur-md border border-gray-100 shadow-xl p-6">
            <h3 class="font-black flex font-satoshi mb-2 text-2xl md:text-3xl lg:text-4xl items-center gap-4 lg:gap-6">
              <div
                class="relative w-12 h-12 md:w-16 md:h-16 rounded-full overflow-hidden border border-primary-100 shadow-sm">
                <img
                  [ngSrc]="program | apiIMG: 'program'"
                  [alt]="'programs.logo_alt' | translate:{name: program.name}"
                  class="relative object-cover w-full h-full transition-transform duration-300 hover:scale-105"
                  loading="lazy"
                  fill />
              </div>
              <span class="text-gray-900">{{ program.name | titlecase }}</span>
            </h3>
            <p class="text-gray-700 text-base hyphens-none leading-relaxed">{{ program.description }}</p>
          </div>
        </div>
      </div>

      <div class="w-full lg:w-2/3 lg:mt-0">
        <h3
          class="text-3xl sm:text-4xl lg:text-5xl font-black font-satoshi mb-8 lg:mb-12 tracking-tight leading-tight text-gray-900">
          {{ 'programs.projects_title' | translate:{name: program.name} }}
        </h3>

        @if (program.subprograms.length > 0) {
        <div class="grid sm:grid-cols-2 gap-6">
          @for (sub of program.subprograms; track sub.slug || sub.id) {
          <div
            class="space-y-4 p-5 bg-white/60 backdrop-blur-md border border-gray-100 shadow-md rounded-lg hover:shadow-xl transition-all duration-300">
            <h3 class="font-semibold text-gray-900 flex items-center gap-3">
              <div
                class="relative w-10 h-10 md:w-12 md:h-12 rounded-full overflow-hidden border border-primary-100 shadow-sm">
                <img
                  [src]="sub | apiIMG: 'subprogram'"
                  alt="logo du sous programme {{ sub.name }}"
                  class="relative object-cover w-full h-full transition-transform duration-300 hover:scale-105"
                  loading="lazy"
                  fill />
              </div>
              <span>{{ sub.name }}</span>
            </h3>
            <p class="text-gray-700 text-base line-clamp-3 leading-relaxed">{{ sub.description }}</p>
            <a [routerLink]="sub.slug">
              <ui-button variant="secondary" size="sm">
                <span class="flex items-center gap-2 group px-4">
                  {{ 'programs.learn_more' | translate }}
                  <i-lucide
                    class="size-4 group-hover:translate-x-0.5 transition-transform duration-300"
                    [name]="icons.arrow" />
                </span>
              </ui-button>
            </a>
          </div>
          }
        </div>
        } @else {
        <div class="grid sm:grid-cols-2 gap-6">
          <div class="space-y-4 p-5 bg-white/60 backdrop-blur-md border border-gray-100 shadow-md rounded-lg">
            <h3 class="font-semibold text-gray-900 flex items-center gap-3">
              <i-lucide [name]="icons.tag" class="size-5 text-primary-500" />
              {{ 'programs.no_subprogram' | translate }}
            </h3>
          </div>
        </div>
        }
      </div>
      } @if (!store.isLoading() && !store.program()) {
      <div class="w-full flex flex-col justify-center items-center px-4">
        <app-subprogram-card-skeleton />
        <h2 class="text-2xl sm:text-4xl font-black font-satoshi text-gray-700 mt-8">
          {{ 'programs.bad_path' | translate }}
        </h2>
      </div>
      }
    </section>
  </main>
</body>
